<div class="jumbotron text-center">
  <h1>My First Angular App</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
  <div class="row" style=" border: solid 1px red">
    <div class="col-md-12">
      <input type="text" [(ngModel)]="myname">
      <!-- <div **ngIf="myname != '' "> -->
      <p class="sucess">{{ name }} - {{ myname }}</p>
      <!-- </div> -->
    </div>
  </div>
  <div class="row">
      <app-servers></app-servers>
      <!-- <div app-servers> TEST</div> 
      <div class="app-servers"> TEST 1</div>-->
  </div>
</div>